

body{
    
    text-align: center;
}
div{
    color: black;
    
}

#timer{
   font-size: 25px;
}

#cubswin{
    height: 200px;
    width: 350px;
}

#cubslose{
    height: 200px;
    width: 225px;
}
